services:
  app:
    build:
      context: .
      dockerfile: dockerfile
    container_name: ourday-app
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - .env.production
    depends_on:
      - db
    volumes:
      - ./uploads:/app/uploads
      - ./tempUploads:/app/tempUploads

  db:
    image: mariadb:10.7
    container_name: ourday-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASS}
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  nginx:
    image: nginx:latest
    container_name: ourday-nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./uploads:/app/uploads
      - ./tempUploads:/app/tempUploads
      - /etc/letsencrypt:/etc/letsencrypt
    depends_on:
      - app

volumes:
  db_data:
