version: "3.9"

services:
  app:
    build: .
    container_name: ourday-app
    ports:
      - "8000:8000"
    env_file:
      - .env.docker
    depends_on:
      - db
    volumes:
      - ./uploads:/app/uploads
      - ./tempUploads:/app/tempUploads
    restart: unless-stopped
