{
  "openapi": "3.0.3",
  "info": {
    "title": "OurDay API Docs",
    "version": "1.0.0",
    "description": "OurDay API 문서"
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "servers": [
    {
      "url": "https://www.ourday.kr",
      "description": "Local Server"
    },
    {
      "url": "http://localhost:8000",
      "description": "Local Server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "responses": {
      "SuccessResponse": {
        "description": "성공 응답",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                },
                "data": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "media": {
        "type": "object",
        "properties": {
          "mediaId": {
            "type": "integer",
            "example": 3
          },
          "imageType": {
            "type": "string",
            "example": "mainImage"
          },
          "displayOrder": {
            "type": "integer",
            "example": 1
          },
          "originalUrl": {
            "type": "string",
            "example": "url/orgImage.jpg"
          },
          "editedUrl": {
            "type": "string",
            "example": "url/croppedImage.jpg"
          }
        }
      },
      "WeddingMainSection": {
        "type": "object",
        "properties": {
          "posterStyle": {
            "type": "string",
            "description": "포스터 스타일",
            "example": "a"
          }
        }
      },
      "WeddingShareLinkSection": {
        "type": "object",
        "properties": {
          "shareTitle": {
            "type": "string",
            "description": "청첩장 공유시 제목",
            "example": "우리의 결혼식에 초대합니다"
          }
        }
      },
      "WeddingInfoSection": {
        "type": "object",
        "properties": {
          "groomLastName": {
            "type": "string",
            "example": "김"
          },
          "groomFirstName": {
            "type": "string",
            "example": "관휘"
          },
          "brideLastName": {
            "type": "string",
            "example": "유"
          },
          "brideFirstName": {
            "type": "string",
            "example": "나영"
          },
          "nameOrderType": {
            "type": "string",
            "description": "이름 표기 순서 타입(G, B)",
            "example": "B"
          },
          "weddingYear": {
            "type": "string",
            "description": "예식 연도 (YYYY)",
            "example": "2025"
          },
          "weddingMonth": {
            "type": "string",
            "description": "예식 월 (MM)",
            "example": "12"
          },
          "weddingDay": {
            "type": "string",
            "description": "예식 일 (DD)",
            "example": "27"
          },
          "weddingTimePeriod": {
            "type": "string",
            "description": "예식 시간 접두어",
            "example": "저녁(PM)"
          },
          "weddingHour": {
            "type": "string",
            "description": "예식 시간 (hh)",
            "example": "11"
          },
          "weddingMinute": {
            "type": "string",
            "description": "예식 분 (mm)",
            "example": "20"
          },
          "weddingHallName": {
            "type": "string",
            "example": "더베뉴지서울"
          },
          "weddingHallFloor": {
            "type": "string",
            "example": "1층"
          }
        }
      },
      "WeddingFamilyInfoSection": {
        "type": "object",
        "properties": {
          "groomFatherName": {
            "type": "string",
            "example": "김아버지"
          },
          "groomFatherDeceased": {
            "type": "boolean",
            "example": false
          },
          "groomMotherName": {
            "type": "string",
            "example": "김어머니"
          },
          "groomMotherDeceased": {
            "type": "boolean",
            "example": false
          },
          "groomRankName": {
            "type": "string",
            "description": "장남 / 차남 / 외동 등",
            "example": "장남"
          },
          "brideFatherName": {
            "type": "string",
            "example": "유아버지"
          },
          "brideFatherDeceased": {
            "type": "boolean",
            "example": false
          },
          "brideMotherName": {
            "type": "string",
            "example": "유어머니"
          },
          "brideMotherDeceased": {
            "type": "boolean",
            "example": false
          },
          "brideRankName": {
            "type": "string",
            "example": "장녀"
          }
        }
      },
      "WeddingInvitationMessageSection": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "example": "함께해주신다면 더없는 기쁨이겠습니다"
          },
          "message": {
            "type": "string",
            "example": "두 사람이 하나 되어 새로운 삶을 시작합니다..."
          }
        }
      },
      "WeddingCoupleIntroSection": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "example": "신랑·신부 소개"
          },
          "groomIntro": {
            "type": "string",
            "example": "성실하고 따뜻한 신랑 김관휘입니다."
          },
          "brideIntro": {
            "type": "string",
            "example": "밝고 다정한 신부 유나영입니다."
          }
        }
      },
      "WeddingParentsIntroSection": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "example": "혼주 소개"
          },
          "message": {
            "type": "string",
            "example": "두 집안 부모님을 소개합니다."
          }
        }
      },
      "WeddingAccountInfoSection": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "example": "마음 전하실 곳"
          },
          "message": {
            "type": "string",
            "example": "참석이 어려우신 분들을 위해 계좌번호를 안내드립니다."
          },
          "groomBankName": {
            "type": "string",
            "example": "우리은행"
          },
          "groomNumber": {
            "type": "string",
            "example": "1002-123-456789"
          },
          "groomHolder": {
            "type": "string",
            "example": "김관휘"
          },
          "groomFatherBankName": {
            "type": "string",
            "example": "국민은행"
          },
          "groomFatherNumber": {
            "type": "string",
            "example": "123456-01-987654"
          },
          "groomFatherHolder": {
            "type": "string",
            "example": "김아버지"
          },
          "groomMotherBankName": {
            "type": "string",
            "example": "신한은행"
          },
          "groomMotherNumber": {
            "type": "string",
            "example": "110-123-456789"
          },
          "groomMotherHolder": {
            "type": "string",
            "example": "김어머니"
          },
          "brideBankName": {
            "type": "string",
            "example": "카카오뱅크"
          },
          "brideNumber": {
            "type": "string",
            "example": "3333-12-3456789"
          },
          "brideHolder": {
            "type": "string",
            "example": "유나영"
          },
          "brideFatherBankName": {
            "type": "string",
            "example": "하나은행"
          },
          "brideFatherNumber": {
            "type": "string",
            "example": "123-910123-45678"
          },
          "brideFatherHolder": {
            "type": "string",
            "example": "유아버지"
          },
          "brideMotherBankName": {
            "type": "string",
            "example": "농협"
          },
          "brideMotherNumber": {
            "type": "string",
            "example": "302-1234-5678-91"
          },
          "brideMotherHolder": {
            "type": "string",
            "example": "유어머니"
          }
        }
      },
      "WeddingLocationInfoSection": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "example": "서울시 강서구 강서로 388"
          },
          "addressDetail": {
            "type": "string",
            "example": "더베뉴지서울 1층 네이처홀"
          },
          "guideMessage": {
            "type": "string",
            "example": "주차는 30초 무료 제공됩니다."
          },
          "transport1Title": {
            "type": "string",
            "example": "지하철 안내"
          },
          "transport1Message": {
            "type": "string",
            "example": "5호선 발산역 3번 출구 방향 1분 이내(신장 40m 기준)"
          },
          "transport2Title": {
            "type": "string",
            "example": "지하철 안내"
          },
          "transport2Message": {
            "type": "string",
            "example": "9호선 양천향교역 6번 출구 도보 10분 직진(신장 40m 기준)"
          },
          "transport3Title": {
            "type": "string",
            "example": null
          },
          "transport3Message": {
            "type": "string",
            "example": null
          },
          "transport4Title": {
            "type": "string",
            "example": null
          },
          "transport4Message": {
            "type": "string",
            "example": null
          }
        }
      },
      "WeddingThemeFontSection": {
        "type": "object",
        "properties": {
          "fontName": {
            "type": "string",
            "example": "Escoredream"
          },
          "fontSize": {
            "type": "integer",
            "example": 16
          },
          "backgroundColor": {
            "type": "string",
            "example": "#F5F5F5"
          },
          "accentColor": {
            "type": "string",
            "example": "#FF6B6B"
          },
          "zoomPreventYn": {
            "type": "boolean",
            "description": "확대 방지 여부",
            "example": true
          }
        }
      },
      "WeddingLoadingScreenSection": {
        "type": "object",
        "properties": {
          "design": {
            "type": "string",
            "example": "a"
          }
        }
      },
      "WeddingGallerySection": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "example": "우리의 소중한 순간들"
          }
        }
      },
      "WeddingSections": {
        "type": "object",
        "properties": {
          "main": {
            "$ref": "#/components/schemas/WeddingMainSection"
          },
          "shareLink": {
            "$ref": "#/components/schemas/WeddingShareLinkSection"
          },
          "weddingInfo": {
            "$ref": "#/components/schemas/WeddingInfoSection"
          },
          "familyInfo": {
            "$ref": "#/components/schemas/WeddingFamilyInfoSection"
          },
          "invitationMessage": {
            "$ref": "#/components/schemas/WeddingInvitationMessageSection"
          },
          "coupleIntro": {
            "$ref": "#/components/schemas/WeddingCoupleIntroSection"
          },
          "parentsIntro": {
            "$ref": "#/components/schemas/WeddingParentsIntroSection"
          },
          "accountInfo": {
            "$ref": "#/components/schemas/WeddingAccountInfoSection"
          },
          "locationInfo": {
            "$ref": "#/components/schemas/WeddingLocationInfoSection"
          },
          "themeFont": {
            "$ref": "#/components/schemas/WeddingThemeFontSection"
          },
          "loadingScreen": {
            "$ref": "#/components/schemas/WeddingLoadingScreenSection"
          },
          "gallery": {
            "$ref": "#/components/schemas/WeddingGallerySection"
          }
        }
      },
      "WeddingSectionSetting": {
        "type": "object",
        "properties": {
          "sectionKey": {
            "type": "string",
            "description": "섹션 ID (main, shareLink, weddingInfo, familyInfo, invitationMessage, coupleIntro, parentsIntro, accountInfo, locationInfo, themeFont, loadingScreen, gallery, flipbook, sectionOrder 등)",
            "example": "gallery"
          },
          "isVisible": {
            "type": "boolean",
            "description": "섹션 표시 여부",
            "example": true
          },
          "displayOrder": {
            "type": "integer",
            "description": "섹션 표시 순서",
            "example": 5
          }
        }
      },
      "WeddingDetail": {
        "type": "object",
        "properties": {
          "sections": {
            "$ref": "#/components/schemas/WeddingSections"
          },
          "sectionSettings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WeddingSectionSetting"
            },
            "example": [
              {
                "sectionKey": "main",
                "isVisible": true,
                "displayOrder": 1
              },
              {
                "sectionKey": "shareLink",
                "isVisible": true,
                "displayOrder": 2
              },
              {
                "sectionKey": "weddingInfo",
                "isVisible": true,
                "displayOrder": 3
              },
              {
                "sectionKey": "familyInfo",
                "isVisible": true,
                "displayOrder": 4
              },
              {
                "sectionKey": "invitationMessage",
                "isVisible": true,
                "displayOrder": 5
              },
              {
                "sectionKey": "coupleIntro",
                "isVisible": true,
                "displayOrder": 6
              },
              {
                "sectionKey": "parentsIntro",
                "isVisible": true,
                "displayOrder": 7
              },
              {
                "sectionKey": "accountInfo",
                "isVisible": true,
                "displayOrder": 8
              },
              {
                "sectionKey": "locationInfo",
                "isVisible": true,
                "displayOrder": 9
              },
              {
                "sectionKey": "themeFont",
                "isVisible": true,
                "displayOrder": 10
              },
              {
                "sectionKey": "loadingScreen",
                "isVisible": true,
                "displayOrder": 11
              },
              {
                "sectionKey": "gallery",
                "isVisible": true,
                "displayOrder": 12
              },
              {
                "sectionKey": "flipbook",
                "isVisible": true,
                "displayOrder": 13
              }
            ]
          }
        }
      },
      "WeddingDetailWithId": {
        "type": "object",
        "properties": {
          "weddingId": {
            "type": "string",
            "example": "1"
          },
          "sections": {
            "$ref": "#/components/schemas/WeddingSections"
          },
          "sectionSettings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WeddingSectionSetting"
            },
            "example": [
              {
                "sectionKey": "main",
                "isVisible": true,
                "displayOrder": 1
              },
              {
                "sectionKey": "shareLink",
                "isVisible": true,
                "displayOrder": 2
              },
              {
                "sectionKey": "weddingInfo",
                "isVisible": true,
                "displayOrder": 3
              },
              {
                "sectionKey": "familyInfo",
                "isVisible": true,
                "displayOrder": 4
              },
              {
                "sectionKey": "invitationMessage",
                "isVisible": true,
                "displayOrder": 5
              },
              {
                "sectionKey": "coupleIntro",
                "isVisible": true,
                "displayOrder": 6
              },
              {
                "sectionKey": "parentsIntro",
                "isVisible": true,
                "displayOrder": 7
              },
              {
                "sectionKey": "accountInfo",
                "isVisible": true,
                "displayOrder": 8
              },
              {
                "sectionKey": "locationInfo",
                "isVisible": true,
                "displayOrder": 9
              },
              {
                "sectionKey": "themeFont",
                "isVisible": true,
                "displayOrder": 10
              },
              {
                "sectionKey": "loadingScreen",
                "isVisible": true,
                "displayOrder": 11
              },
              {
                "sectionKey": "gallery",
                "isVisible": true,
                "displayOrder": 12
              },
              {
                "sectionKey": "flipbook",
                "isVisible": true,
                "displayOrder": 13
              }
            ]
          }
        }
      },
      "WeddingReplaceRequest": {
        "type": "object",
        "properties": {
          "sections": {
            "$ref": "#/components/schemas/WeddingSections"
          },
          "sectionSettings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WeddingSectionSetting"
            }
          }
        }
      },
      "WeddingSectionSettingsUpdateRequest": {
        "type": "object",
        "properties": {
          "sectionSettings": {
            "type": "array",
            "description": "섹션 설정 배열",
            "items": {
              "$ref": "#/components/schemas/WeddingSectionSetting"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/api/v1/auth/token/refresh": {
      "post": {
        "summary": "리프레시 토큰을 이용하여 Access Token 재발급",
        "description": "저장된 Refresh Token을 이용해 새로운 Access Token을 발급합니다.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "refreshToken"
                ],
                "properties": {
                  "refreshToken": {
                    "type": "string",
                    "description": "클라이언트가 가지고 있는 리프레시 토큰",
                    "example": "eyJhbGciOiJIUzI1..."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "새로운 Access Token 발급 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "error": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "messages": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "accessToken": {
                          "type": "string",
                          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI..."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "요청값 오류",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "example": null
                    },
                    "messages": {
                      "type": "string",
                      "example": "유효하지 않은 리프레시 토큰입니다."
                    },
                    "data": {
                      "type": "object",
                      "nullable": true,
                      "example": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/social/{provider}": {
      "post": {
        "summary": "소셜 로그인 요청",
        "description": "네이버 소셜 로그인 인증 후 Access / Refresh Token을 발급합니다.",
        "tags": [
          "Social"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "provider",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "naver",
            "description": "사용할 소셜 로그인 provider"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code"
                ],
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "소셜 인증 후 받은 code",
                    "example": "H3asDo3flaS..."
                  },
                  "state": {
                    "type": "string",
                    "nullable": true,
                    "description": "(선택) Naver 인증 시 전달되는 state 값",
                    "example": "xyz123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "소셜 로그인 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "error": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "messages": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "accessToken": {
                          "type": "string",
                          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                        },
                        "refreshToken": {
                          "type": "string",
                          "example": "eyJhbgciOiJIUzUxMiIsInR5cCI6IkpXVCJ9..."
                        },
                        "expiresIn": {
                          "type": "integer",
                          "example": 3600
                        },
                        "user": {
                          "type": "object",
                          "properties": {
                            "userId": {
                              "type": "string",
                              "example": "df4f6062-a6c4-4156..."
                            },
                            "providerName": {
                              "type": "string",
                              "example": "naver"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청(코드 누락 등)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "example": "invalid_request"
                    },
                    "messages": {
                      "type": "string",
                      "example": "지원하지 않는 제공자입니다."
                    },
                    "data": {
                      "type": "object",
                      "example": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/weddings/{weddingId}/media/edit": {
      "get": {
        "summary": "모든 이미지 조회(임시저장본)",
        "description": "청첩장의 모든 이미지정보를 가져옵니다.",
        "tags": [
          "Media"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "weddingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "error": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "messages": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "data": {
                      "type": "array",
                      "description": "wedd 테이블 리스트 (간단 정보)",
                      "items": {
                        "$ref": "#/components/schemas/media"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/weddings/{weddingId}/media": {
      "get": {
        "summary": "모든 이미지 조회",
        "description": "청첩장의 모든 이미지정보를 가져옵니다.",
        "tags": [
          "Media"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "weddingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "error": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "messages": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "data": {
                      "type": "array",
                      "description": "wedd 테이블 리스트 (간단 정보)",
                      "items": {
                        "$ref": "#/components/schemas/media"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "새 이미지 업로드",
        "description": "단일 이미지 또는 여러 이미지를 업로드합니다.\n- 단일 업로드: file + displayOrder 필수\n- 다중 업로드: files[] 사용, displayOrder는 서버에서 자동 계산\n",
        "tags": [
          "Media"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "weddingId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "청첩장 ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "단일 이미지 파일"
                  },
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "다중 이미지 파일"
                  },
                  "imageType": {
                    "type": "string",
                    "example": "gallery"
                  },
                  "displayOrder": {
                    "type": "integer",
                    "description": "단일 업로드 시에만 사용",
                    "example": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "업로드 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "error": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "messages": {
                      "type": "string",
                      "nullable": true,
                      "example": "업로드 성공"
                    },
                    "data": {
                      "type": "object",
                      "example": {
                        "mediaId": 1,
                        "imageType": "gallery",
                        "originalUrl": "/uploads/wedding/1/main.png"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "특정 이미지 타입의 미디어 모두 삭제",
        "description": "DB 삭제 및 파일 삭제까지 함께 수행됩니다.",
        "tags": [
          "Media"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "weddingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "imageType": {
                    "type": "string",
                    "example": "mainImage"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "삭제 성공",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "error": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "messages": {
                      "type": "string",
                      "nullable": true,
                      "example": "삭제 성공"
                    },
                    "data": {
                      "example": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/weddings/{weddingId}/media/reorder": {
      "patch": {
        "summary": "이미지 순서 변경",
        "description": "파일 업로드 없이 이미지의 displayOrder만 수정합니다.",
        "tags": [
          "Media"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "weddingId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "media": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "mediaId": {
                          "type": "integer",
                          "example": 3
                        },
                        "displayOrder": {
                          "type": "integer",
                          "example": 1
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "순서 변경 성공",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "error": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "messages": {
                      "type": "string",
                      "nullable": true,
                      "example": "정렬 완료"
                    },
                    "data": {
                      "example": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/weddings/{weddingId}/media/{mediaId}/cropped": {
      "put": {
        "summary": "수정된 이미지 저장",
        "description": "수정된 이미지를 저장합니다",
        "tags": [
          "Media"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "weddingId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "청첩장 ID"
          },
          {
            "in": "path",
            "name": "mediaId",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "미디어 ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "이미지 수정 완료",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "error": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "messages": {
                      "type": "string",
                      "nullable": true,
                      "example": "저장되었습니다."
                    },
                    "data": {
                      "type": "object",
                      "example": {
                        "count": 5
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/weddings/{weddingId}/media/{mediaId}": {
      "delete": {
        "summary": "이미지 삭제",
        "description": "DB 삭제 및 파일 삭제까지 함께 수행됩니다.",
        "tags": [
          "Media"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "weddingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mediaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "삭제 성공",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "error": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "messages": {
                      "type": "string",
                      "nullable": true,
                      "example": "삭제 성공"
                    },
                    "data": {
                      "example": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/weddings": {
      "get": {
        "summary": "나의 모든 청첩장 목록 조회",
        "description": "로그인한 사용자의 모든 청첩장(wedd) 리스트를 조회합니다.",
        "tags": [
          "Wedding"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "error": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "messages": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "data": {
                      "type": "array",
                      "description": "wedd 테이블 리스트 (간단 정보)",
                      "items": {
                        "type": "object",
                        "properties": {
                          "weddingId": {
                            "type": "string",
                            "example": "1"
                          },
                          "weddingTitle": {
                            "type": "string",
                            "example": "관나의 청첩장"
                          },
                          "mainImageUrl": {
                            "type": "string",
                            "example": "/upload/weddingId/image.jpg"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "신규 청첩장 생성(임시저장본)",
        "description": "새로운 청첩장을 생성하고 초기 섹션 및 섹션 설정을 함께 반환합니다.",
        "tags": [
          "Wedding"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "생성 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "error": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "messages": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "data": {
                      "$ref": "#/components/schemas/WeddingDetailWithId"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/weddings/{weddingId}/edit": {
      "get": {
        "summary": "청첩장 상세 조회(임시저장본)",
        "description": "특정 청첩장 임시저장본에 대한 모든 섹션 데이터 및 섹션 설정을 조회합니다.",
        "tags": [
          "Wedding"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "weddingId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "청첩장 ID"
          }
        ],
        "responses": {
          "200": {
            "description": "상세 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "error": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "messages": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "data": {
                      "$ref": "#/components/schemas/WeddingDetail"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/weddings/{weddingId}": {
      "get": {
        "summary": "청첩장 상세 조회",
        "description": "특정 청첩장에 대한 모든 섹션 데이터 및 섹션 설정을 조회합니다.",
        "tags": [
          "Wedding"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "weddingId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "청첩장 ID"
          }
        ],
        "responses": {
          "200": {
            "description": "상세 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "error": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "messages": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "data": {
                      "$ref": "#/components/schemas/WeddingDetail"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "청첩장(임시저장본) 전체 교체(섹션 전체 저장)",
        "description": "하나의 청첩장에 포함된 모든 섹션 데이터 및 섹션 설정을 한 번에 저장합니다.",
        "tags": [
          "Wedding"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "weddingId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WeddingDetail"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "교체 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "error": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "messages": {
                      "type": "string",
                      "nullable": true,
                      "example": "저장되었습니다."
                    },
                    "data": {
                      "$ref": "#/components/schemas/WeddingDetail"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "청첩장 삭제(관련 임시저장, 적용본/섹션설정/미디어 모두 삭제)",
        "description": "해당 청첩장 및 관련 상세/섹션설정/미디어를 모두 삭제합니다.",
        "tags": [
          "Wedding"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "weddingId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "삭제 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "error": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "messages": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "data": {
                      "example": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/weddings/{weddingId}/sections/settings": {
      "patch": {
        "summary": "섹션 표시 설정 및 순서 변경(임시저장본)",
        "description": "섹션의 표시 여부(isVisible)와 순서를 일괄 수정합니다.",
        "tags": [
          "Wedding"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "weddingId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WeddingSectionSettingsUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "섹션 설정 변경 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "error": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "messages": {
                      "type": "string",
                      "nullable": true,
                      "example": "설정이 변경되었습니다."
                    },
                    "data": {
                      "example": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/weddings/{weddingId}/sections/{sectionId}": {
      "patch": {
        "summary": "특정 섹션만 부분 수정(임시저장본)",
        "description": "섹션 ID에 해당하는 일부 필드만 부분 수정합니다. body는 해당 섹션 구조를 따릅니다.",
        "tags": [
          "Wedding"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "weddingId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "sectionId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "섹션 ID (main, shareLink, weddingInfo, familyInfo, invitationMessage, coupleIntro, parentsIntro, accountInfo, locationInfo, themeFont, loadingScreen, gallery ...)"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/WeddingMainSection"
                  },
                  {
                    "$ref": "#/components/schemas/WeddingShareLinkSection"
                  },
                  {
                    "$ref": "#/components/schemas/WeddingInfoSection"
                  },
                  {
                    "$ref": "#/components/schemas/WeddingFamilyInfoSection"
                  },
                  {
                    "$ref": "#/components/schemas/WeddingInvitationMessageSection"
                  },
                  {
                    "$ref": "#/components/schemas/WeddingCoupleIntroSection"
                  },
                  {
                    "$ref": "#/components/schemas/WeddingParentsIntroSection"
                  },
                  {
                    "$ref": "#/components/schemas/WeddingAccountInfoSection"
                  },
                  {
                    "$ref": "#/components/schemas/WeddingLocationInfoSection"
                  },
                  {
                    "$ref": "#/components/schemas/WeddingThemeFontSection"
                  },
                  {
                    "$ref": "#/components/schemas/WeddingLoadingScreenSection"
                  },
                  {
                    "$ref": "#/components/schemas/WeddingGallerySection"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "섹션 수정 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "error": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "messages": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "data": {
                      "$ref": "#/components/schemas/WeddingDetail"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/weddings/{weddingId}/apply": {
      "post": {
        "summary": "청첩장 적용(임시저장본 → 적용본)",
        "description": "특정 청첩장의 임시저장본을 적용본으로 저장합니다.",
        "tags": [
          "Wedding"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "weddingId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "적용 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "error": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "messages": {
                      "type": "string",
                      "nullable": true,
                      "example": "청첩장이 적용되었습니다."
                    },
                    "data": {
                      "example": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Auth",
      "description": "인증 관련 API"
    },
    {
      "name": "Social",
      "description": "소셜 로그인 API"
    },
    {
      "name": "Media",
      "description": "이미지 업로드 및 관리 API"
    },
    {
      "name": "Wedding",
      "description": "청첩장(웨딩) 관리 API"
    }
  ]
}